*.[15]
*.bc
*.html
*.ll
*.log
*.o
*.so
*~
.deps
.dirstamp
^[1234]$
aclocal.m4
autom4te.cache
compile
config.*
configure
COPYING
depcomp
file
file.c
file.txt
fyfsp
fyfsp-*.*
fyfsp-*.tar.*
fyfsp-debug
fyfsp-log
fyfsp.conf
ID
INSTALL
install-sh
keyfile
Makefile
Makefile.in
missing
pod2htmd.tmp
README
stamp-h1
tags
tmp
tmp-dir
